# PlantUML configuration file
!define ICONURL https://raw.githubusercontent.com/tupadr3/plantuml-icon-font-sprites/v2.1.0

# Include icon libraries
!include ICONURL/common.puml
!include ICONURL/devicons/mongodb.puml
!include ICONURL/devicons/python.puml
!include ICONURL/font-awesome-5/database.puml
!include ICONURL/font-awesome-5/file.puml
!include ICONURL/font-awesome-5/server.puml

# Color definitions
!define PRIMARY_COLOR #2E86AB
!define SECONDARY_COLOR #A23B72
!define SUCCESS_COLOR #4F8A10
!define WARNING_COLOR #FCB714
!define DANGER_COLOR #CC0000
!define INFO_COLOR #00529B

# C4 Model configuration
!include <C4/C4_Container>
